[submodule "lib/RTT"]
	path = lib/RTT
	url = https://github.com/SEGGERMicro/RTT
[submodule "lib/tiny-AES-c"]
	path = lib/tiny-AES-c
	url = git@github.com:kokke/tiny-AES-c.git
[submodule "lib/capstone"]
	path = lib/capstone
	url = git@github.com:capstone-engine/capstone.git
	branch = 5.0.1
[submodule "lib/littlefs"]
	path = lib/littlefs
	url = https://github.com/littlefs-project/littlefs
